<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- css -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
  <link rel="stylesheet" href="./mercari.css" />
  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <title>Rakus Items</title>
</head>

<body>
  <!-- navbar -->
 <div th:replace="/shared/_header"></div>

<!-- details -->
  <div id="input-main" class="container">
    <a type="button" class="btn btn-default" href="./detail.html" th:href="${session.editReferer}"><i class="fa fa-reply"></i> back</a>
    <h2>Edit</h2>

    <!-- edit form -->
    <form action="#" th:action="@{/update}" th:object="${item}" method="POST" class="form-horizontal">
      <!-- name -->
      <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputName" th:value="${item.name}" name="name" th:field="*{name}"/>
        </div>
      </div>
      <!-- price -->
      <div class="form-group">
        <label for="price" class="col-sm-2 control-label">price</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="price" th:value="${item.price}" name="price" th:field="*{price}" />
        </div>
      </div>
      <!-- category -->
      <div class="form-group">
        <label for="category" class="col-sm-2 control-label">category</label>
        <div class="col-sm-8">
          <select class="form-control" id="big-category">
            <option>- parentCategory -</option>
            <th:block th:if="${item.categoryId == 0}">
            <option 
              th:each="parentCategory:${parentCategories}" 
              th:text="${parentCategory.name}"
              th:value="${parentCategory.id}">parentCategory1
            </option>
            </th:block>
            <th:block th:if="${item.categoryId != 0}">
            <option 
              th:each="parentCategory:${parentCategories}" 
              th:text="${parentCategory.name}"
              th:value="${parentCategory.id}"
              th:selected="${parentCategory.id == item.category.parentCategory.parentCategory.id}">parentCategory1
            </option>
            </th:block>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="category" class="col-sm-2 control-label"></label>
        <div class="col-sm-8">
          <select class="form-control" id="childCategory">
            <option>- childCategory -</option>
            <option 
              th:each="childCategory:${childCategories}" 
              th:text="${childCategory.name}"
              th:value="${childCategory.id}" 
              th:selected="${childCategory.id == item.category.parentCategory.id}">
              parentCategory1
            </option>

          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="category" class="col-sm-2 control-label"></label>
        <div class="col-sm-8">
          <select class="form-control" id="grandChildCategory" name="categoryId">
            <option>- grandChild -</option>
            <option 
              th:each="grandChildCategory:${grandChildCategories}" 
              th:text="${grandChildCategory.name}"
              th:value="${grandChildCategory.id}"
              th:selected="${grandChildCategory.id == item.categoryId}">parentCategory1
            </option>
          </select>
        </div>
      </div>
      <!-- brand -->
      <div class="form-group">
        <label for="brand" class="col-sm-2 control-label">brand</label>
        <div class="col-sm-8">
          <input type="text" id="brand" class="form-control" name="brand" th:value="${item.brand}" th:field="*{brand}" />
        </div>
      </div>
      <!-- condition -->
      <div class="form-group">
        <label for="condition" class="col-sm-2 control-label">condition</label>
        <div class="col-sm-8">
          <label th:for="condition" class="radio-inline" th:each="count:${conditionCount}">
            <input type="radio" name="condition" th:id="'condition'+${count}" th:value="${count}"
              th:checked="${count == item.condition}" th:text="${count}" th:field="*{condition}"/>
          </label>
        </div>
      </div>
      <!-- description -->
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">description</label>
        <div class="col-sm-8">
          <textarea name="description" id="description" class="form-control" rows="5" th:value="${item.description}" th:field="*{description}"></textarea>
        </div>
      </div>
      <input type="hidden" th:value="${item.id}" name="id">
      <input type="hidden" th:value="${item.shipping}" name="shipping">
      <!-- submit button -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <script th:src="@{/js/itemCategorySearch.js}"></script>
</body>

</html>